# Bloquear acceso directo al listado de directorios
Options -Indexes

# Habilitar el módulo de reescritura de URLs
RewriteEngine On

# Permitir acceso a archivos específicos en esta carpeta

# LOGIN JS
RewriteCond %{REQUEST_URI} !/login.js$ [NC]
RewriteCond %{REQUEST_URI} !/register.js$ [NC]
RewriteCond %{REQUEST_URI} !/urlHelper.js$ [NC]
RewriteCond %{REQUEST_URI} !/logout.js$ [NC]

# CLIENTEJS
RewriteCond %{REQUEST_URI} !/perfilCliente.js$ [NC]
RewriteCond %{REQUEST_URI} !/listarProductosCliente.js$ [NC]


# OVERlAYS
RewriteCond %{REQUEST_URI} !/loadingOverlay.js$ [NC]
RewriteCond %{REQUEST_URI} !/gestionarUsuarios.js$ [NC]
RewriteCond %{REQUEST_URI} !/register.js$ [NC]
RewriteCond %{REQUEST_URI} !/gestionarProductos.js$ [NC]

# ADMINJS


# AUTH JS
RewriteCond %{REQUEST_URI} !/checkRole.js$ [NC]
RewriteCond %{REQUEST_URI} !/checkTokenInterval.js$ [NC]
RewriteCond %{REQUEST_URI} !/checkStorageTokenINDEX.js$ [NC]
RewriteCond %{REQUEST_URI} !/lastActivity.js$ [NC]
RewriteCond %{REQUEST_URI} !/sessionManager.js$ [NC]
RewriteCond %{REQUEST_URI} !/checkInactivity.js$ [NC]
RewriteCond %{REQUEST_URI} !/click-sound.js$ [NC]
RewriteCond %{REQUEST_URI} !/typing-sound.js$ [NC]
RewriteCond %{REQUEST_URI} !/loader.js$ [NC]


# Redirigir todas las demás solicitudes a /index.php
RewriteRule ^.*$ /index.php [L,R=302]
